##
## Ignore various os-specific temporary and executable files
##

**/$RECYCLE.BIN
**/$[Rr]ecycle.[Bb]in
**/*.appx
**/*.appxbundle
**/*.appxupload
**/*.backup
**/*.bak
**/*.bat
**/*.cab
**/*.cache
**/*.cmd
**/*.com
**/*.diagcab
**/*.dll
**/*.exe
**/*.lib
**/*.lnk
**/*.log
**/*.logs
**/*.msi
**/*.msix
**/*.msixbundle
**/*.msixupload
**/*.msm
**/*.msp
**/*.ori
**/*.orig
**/*.original
**/*.patch
**/*.report
**/*.reports
**/*.samp
**/*.sample
**/*.stackdump
**/*.swap
**/*.temp
**/*.tmp
**/*~*
**/.[Bb]ackup
**/.[Bb]ackups
**/.[Cc]ache
**/.[Cc]aches
**/.[Ll]og
**/.[Ll]ogs
**/.[Rr]eport
**/.[Rr]eports
**/.[Ss]wap
**/.[Tt]emp
**/.[Tt]mp
**/.AppleDB
**/.AppleDesktop
**/.AppleDouble
**/.DS_Store
**/.DocumentRevisions-V100
**/.LSOverride
**/.Spotlight-V100
**/.TemporaryItems
**/.Trash-*
**/.Trashes
**/.VolumeIcon.icns
**/._*
**/.apdisk
**/.com.apple.timemachine.donotpresent
**/.directory
**/.fseventsd
**/.fuse_hidden*
**/.nfs*
**/Network Trash Folder
**/Temporary Items
**/[Bb]ackup
**/[Bb]ackups
**/[Cc]ache
**/[Cc]aches
**/[Dd]esktop.ini
**/[Ii]con
**/[Ll]og
**/[Ll]ogs
**/[Rr]eport
**/[Rr]eports
**/[Ss]wap
**/[Tt]emp
**/[Tt]humbs.db
**/[Tt]humbs.db:encryptable
**/[Tt]mp
**/ehthumbs.db
**/ehthumbs_vista.db
**/~$*

**/.dockerignore
**/.editorconfig
**/.git
**/.gitattributes
**/.gitignore

**/*DOCKERFILE*
**/*[Dd]ocker-[Cc]ompose*
**/*[Dd]ocker[Ff]ile*

**/CHANGELOG*
**/LICENSE*
**/READ.ME
**/README*
**/[Cc]hange[Ll]og*
**/[Ll]icense*
**/[Rr]ead.[Mm][Ee]
**/[Rr]ead[Mm][Ee]*

**/.idea
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode

**/*.*proj.user
**/*.[Dd]ot[Ss]ettings*
**/*.dbmdl
**/*.jfm
**/[Cc]harts
**/[Ss]ecrets.[Dd]ev.yaml
**/[Vv]alues.[Dd]ev.yaml
**/azds.yaml
**/tempkey.jwk

##
## Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
## Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
##
## Get latest from https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
##

**/*.iml
**/*.ipr
**/*.iws
**/.idea/**/aws.xml
**/.idea/**/contentModel.xml
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.local.xml
**/.idea/**/dataSources/
**/.idea/**/dbnavigator.xml
**/.idea/**/dictionaries
**/.idea/**/dynamic.xml
**/.idea/**/gradle.xml
**/.idea/**/libraries
**/.idea/**/mongoSettings.xml
**/.idea/**/shelf
**/.idea/**/sqlDataSources.xml
**/.idea/**/tasks.xml
**/.idea/**/uiDesigner.xml
**/.idea/**/usage.statistics.xml
**/.idea/**/workspace.xml
**/.idea/*.iml
**/.idea/artifacts
**/.idea/caches/build_file_checksums.ser
**/.idea/compiler.xml
**/.idea/httpRequests
**/.idea/jarRepositories.xml
**/.idea/modules
**/.idea/modules.xml
**/.idea/replstate.xml
**/.idea/sonarlint/
**/.idea_modules/
**/atlassian-ide-plugin.xml
**/cmake-build-*/
**/com_crashlytics_export_strings.xml
**/crashlytics-build.properties
**/crashlytics.properties
**/fabric.properties
**/out/

##
## Ignore Node temporary files, build results, and
## files generated by popular frameworks and tools.
##
## Get latest from https://github.com/github/gitignore/blob/main/Node.gitignore
##

**/*.lcov
**/*.log
**/*.pid
**/*.pid.lock
**/*.seed
**/*.tgz
**/*.tsbuildinfo
**/.cache
**/.docusaurus
**/.dynamodb
**/.env.ci.local
**/.env.dev.local
**/.env.development.local
**/.env.local
**/.env.prod.local
**/.env.production.local
**/.env.stage.local
**/.env.staging.local
**/.env.test.local
**/.eslintcache
**/.fusebox
**/.grunt
**/.lock-wscript
**/.next
**/.node_repl_history
**/.npm
**/.nuxt
**/.nyc_output
**/.parcel-cache
**/.pnp.*
**/.pnpm-debug.log*
**/.rpt2_cache
**/.rts2_cache_cjs
**/.rts2_cache_es
**/.rts2_cache_umd
**/.serverless
**/.stylelintcache
**/.temp
**/.tern-port
**/.vscode-test
**/.vuepress/dist
**/.yarn
**/.yarn-integrity
**/.yarn/build-state.yml
**/.yarn/cache
**/.yarn/install-state.gz
**/.yarn/patches
**/.yarn/plugins
**/.yarn/releases
**/.yarn/sdks
**/.yarn/unplugged
**/.yarn/versions
**/.yarnrc*
**/.yarnrc.yml
**/[Bb]uild/
**/[Bb]uilds/
**/bower_components
**/build/Debug
**/build/Release
**/coverage
**/jspm_packages
**/lerna-debug.log*
**/lib-cov
**/logs
**/node_modules
**/npm-debug.log*
**/out
**/package-lock.json
**/pids
**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
**/web_modules
**/yarn.lock
**/yarn-debug.log*
**/yarn-error.log*

##
## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.
##
## Get latest from https://github.com/github/gitignore/blob/main/VisualStudio.gitignore
##

**/$tf/
**/*- [Bb]ackup ([0-9]).rdl
**/*- [Bb]ackup ([0-9][0-9]).rdl
**/*- [Bb]ackup.rdl
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.DotSettings.user
**/*.GhostDoc.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/*.VC.VC.opendb
**/*.VC.db
**/*.VisualState.xml
**/*.[Cc]ache
**/*.[Pp]ublish.xml
**/*.[Rr]e[Ss]harper
**/*.appx
**/*.appxbundle
**/*.appxupload
**/*.aps
**/*.azurePubxml
**/*.bim.layout
**/*.bim_*.settings
**/*.binlog
**/*.btm.cs
**/*.btp.cs
**/*.build.csdef
**/*.cab
**/*.cachefile
**/*.code-workspace
**/*.coverage
**/*.coveragexml
**/*.dbmdl
**/*.dbproj.schemaview
**/*.dotCover
**/*.dsp
**/*.dsw
**/*.e2e
**/*.gpState
**/*.ilk
**/*.iobj
**/*.ipdb
**/*.jfm
**/*.jmconfig
**/*.ldf
**/*.log
**/*.mdf
**/*.meta
**/*.mm.*
**/*.msi
**/*.msix
**/*.msm
**/*.msp
**/*.ncb
**/*.ndf
**/*.nuget.props
**/*.nuget.targets
**/*.nupkg
**/*.nvuser
**/*.obj
**/*.odx.cs
**/*.opendb
**/*.opensdf
**/*.opt
**/*.pch
**/*.pdb
**/*.pfx
**/*.pgc
**/*.pgd
**/*.pidb
**/*.plg
**/*.psess
**/*.publishproj
**/*.publishsettings
**/*.pubxml
**/*.pyc
**/*.rdl.data
**/*.rptproj.bak
**/*.rptproj.rsuser
**/*.rsp
**/*.rsuser
**/*.sap
**/*.sbr
**/*.scc
**/*.sdf
**/*.sln.docstates
**/*.sln.iml
**/*.snupkg
**/*.suo
**/*.svclog
**/*.tlb
**/*.tlh
**/*.tli
**/*.tlog
**/*.tmp
**/*.tmp_proj
**/*.tss
**/*.user
**/*.userosscache
**/*.userprefs
**/*.vbp
**/*.vbw
**/*.vsp
**/*.vspscc
**/*.vspx
**/*.vssscc
**/*.xsd.cs
**/*_h.h
**/*_i.c
**/*_p.c
**/*_wpftmp.csproj
**/*~
**/.*crunch*.local.xml
**/.axoCover/*
**/.builds
**/.cr/personal
**/.fake/
**/.history/
**/.ionide/
**/.localhistory/
**/.mfractor/
**/.ntvs_analysis.dat
**/.paket/paket.exe
**/.sass-cache/
**/.vs/
**/.vscode/*
**/.vshistory/
**/ASALocalRun/
**/AppPackages/
**/AutoTest.Net/
**/Backup*/
**/BenchmarkDotNet.Artifacts/
**/BundleArtifacts/
**/ClientBin/
**/DocProject/Help/*.HxC
**/DocProject/Help/*.HxT
**/DocProject/Help/*.hhc
**/DocProject/Help/*.hhk
**/DocProject/Help/*.hhp
**/DocProject/Help/Html2
**/DocProject/Help/html
**/DocProject/buildhelp/
**/FakesAssemblies/
**/FodyWeavers.xsd
**/Generated\ Files/
**/Generated_Code/
**/MigrationBackup/
**/OpenCover/
**/Package.StoreAssociation.xml
**/PublishScripts/
**/ScaffoldingReadMe.txt
**/ServiceFabricBackup/
**/StyleCopReport.xml
**/TestResult.xml
**/UpgradeLog*.XML
**/UpgradeLog*.htm
**/[Aa][Mm][Dd]64/
**/[Aa][Rr][Mm]/
**/[Aa][Rr][Mm]64/
**/[Bb]in/
**/[Bb]uild[Ll]og.*
**/[Dd]ebug/
**/[Dd]ebugPS/
**/[Dd]ebugPublic/
**/[Ee]xpress/
**/[Ll]og/
**/[Ll]ogs/
**/[Oo]bj/
**/[Pp]ackages/*
**/[Rr]elease/
**/[Rr]eleasePS/
**/[Rr]eleases/
**/[Tt]est[Rr]esult*/
**/[Ww][Ii][Nn]32/
**/[Ww][Ii][Nn]64/
**/_Chutzpah*
**/_NCrunch_*
**/_Pvt_Extensions
**/_ReSharper*/
**/_TeamCity*
**/_UpgradeReport_Files/
**/__pycache__/
**/_pkginfo.txt
**/artifacts/
**/bld/
**/bower_components/
**/coverage*.info
**/coverage*.json
**/coverage*.xml
**/csx/
**/dlldata.c
**/ecf/
**/healthchecksdb
**/ipch/
**/mono_crash.*
**/nCrunchTemp_*
**/node_modules/
**/nunit-*.xml
**/orleans.codegen.cs
**/paket-files/
**/project.fragment.lock.json
**/project.lock.json
**/publish/
**/rcf/
**/tools/**
**/x64/
**/x86/
**/~$*

!**/[Pp]ackages/build/
!**/.axoCover/settings.json
!**/.vscode/*.code-snippets
!**/.vscode/extensions.*
!**/.vscode/extensions.json
!**/.vscode/launch.*
!**/.vscode/launch.json
!**/.vscode/settings.*
!**/.vscode/settings.json
!**/.vscode/tasks.*
!**/.vscode/tasks.json
!**/?*.[Cc]ache/
!**/tools/packages.config
