**/.chrome/
**/.git/
**/.npm/
**/.vs/
**/.vs-debug/
**/.vs-test/
**/.vscode/
**/.yarn/
**/build/
**/builds/
**/dist/
**/lib/
**/libs/
**/node_modules/
**/.eslintrc.json
**/.ncurc.json
**/.npmrc.json
**/.prettierrc.json
**/.stylelintrc.json
**/import-sorter.json
**/package.json
**/package.dev.json
**/package.prod.json
**/package-lock.json
**/tsconfig.json
**/yarn.lock
